In [1]:
import seaborn as sns

import matplotlib.pyplot as plt

import numpy as np

import pandas as pd

In [27]:
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [2]:
ped=pd.read_excel('F:\\fertility data\\SUMBJ1807\\pedigree.xlsx')

In [62]:
recode=pd.read_excel('F:\\fertility data\\PED-recode.xlsx')

In [63]:
recode.head()

            DAM  RECODE
0            M0       0
1            F0       0
2   M0001HO0261       1
3       M00-104       2
4  M0011HO88013       3

In [64]:
newped=pd.merge(ped,recode,on='DAM')

In [65]:
len(newped)

449819

In [66]:
newped.head()

             ID SIRE DAM  IDLIST  SIRECODE  DAMCODE     BIRTH SEX  RECODE
0   M0001HO0261   M0  F0       1         0        0  1900/1/0   M       0
1       M00-104   M0  F0       2         0        0  1900/1/0   M       0
2  M0011HO88013   M0  F0       3         0        0  1900/1/0   M       0
3   M001JE00672   M0  F0       4         0        0  1900/1/0   M       0
4  M0029HO02611   M0  F0       5         0        0  1900/1/0   M       0

In [67]:
newped1=newped.dropna(how='any')

In [68]:
len(newped1)

449819

In [29]:
oldped=pd.read_csv('F:\\R\\FZ12\\PED.csv',encoding='gbk',sep=',')

In [30]:
oldped.head()

             FID  CODE     DAM
0  F110010008827     1  276698
1  F110010008444     2  276698
2  F110031009059     3  260264
3  F110031009124     4  258267
4  F110031009149     5  257469

In [4]:
ped1=ped[['ID','IDLIST','DAMCODE']] #SB,CE需要用到母畜效应，保留damcode
ped1.rename(columns={'ID':'FID'},inplace=True)

E:\Anaconda\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [5]:
ped1['DAMCODE'].value_counts()

0         145573
418715        19
441542        18
25660         18
25665         17
256289        17
416673        16
382867        16
421898        16
25050         16
382666        16
25739         16
382958        15
441616        15
382855        14
441630        14
382989        14
382595        13
269584        13
351553        13
25715         13
25023         13
204733        13
431749        12
421903        12
25696         12
449609        12
256321        12
25653         12
25654         12
           ...
45962          1
43913          1
62338          1
398174         1
394076         1
402264         1
416599         1
422738         1
113579         1
105391         1
226290         1
93105          1
222192         1
234478         1
250854         1
248805         1
259042         1
134109         1
144346         1
154583         1
162771         1
156624         1
168910         1
175049         1
173000         1
195523         1
191425         1
66492          1
74680          1
441431         1
Name: DAMCODE, Length: 210469, dtype: int64

In [32]:
ped2=ped1.copy()

In [69]:
newped['RECODE'].value_counts()

0         145573
418715        19
441542        18
25660         18
25665         17
256289        17
416673        16
382867        16
421898        16
25050         16
382666        16
25739         16
382958        15
441616        15
382855        14
441630        14
382989        14
382595        13
269584        13
351553        13
25715         13
25023         13
204733        13
431749        12
421903        12
25696         12
449609        12
256321        12
25653         12
25654         12
           ...
45962          1
43913          1
62338          1
398174         1
394076         1
402264         1
416599         1
422738         1
113579         1
105391         1
226290         1
93105          1
222192         1
234478         1
250854         1
248805         1
259042         1
134109         1
144346         1
154583         1
162771         1
156624         1
168910         1
175049         1
173000         1
195523         1
191425         1
66492          1
74680          1
441431         1
Name: RECODE, Length: 210469, dtype: int64

In [70]:
newped.to_csv('F:\\fertility data\\newped.csv',index=False,encoding='utf_8_sig')

In [14]:
oldped['DAM'].value_counts()

0         101567
31490        462
46537        109
5169          23
46516         21
342210        20
1721          19
1215          18
24466         17
47046         16
2092          16
303294        16
271957        16
47045         16
47050         15
4391          15
4820          15
5434          14
4380          14
47064         14
1230          14
4310          13
24434         12
274840        12
1153          12
35822         12
4829          12
5433          12
288335        11
24472         11
           ...
54656          1
339263         1
337214         1
273695         1
267544         1
13724          1
290071         1
288022         1
281875         1
300296         1
312578         1
212221         1
52611          1
62852          1
64901          1
58758          1
60807          1
38280          1
40329          1
36235          1
46476          1
42382          1
44431          1
23953          1
17810          1
19859          1
30100          1
26006          1
3483           1
87893          1
Name: DAM, Length: 177976, dtype: int64