In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [2]:
path='F:\\fertility data\\SUMBJ1807\\'

In [5]:
cow=pd.read_csv(path+'cow1.csv',sep=',',low_memory=False)
cowsb=pd.read_csv(path+'cowsb1.csv',sep=',',low_memory=False)
heifer=pd.read_csv(path+'heifer1.csv',sep=',',low_memory=False)
heifersb=pd.read_csv(path+'heifersb1.csv',sep=',',low_memory=False)

In [26]:
ped=pd.read_excel('F:\\fertility data\\SUMBJ1807\\pedigree.xlsx')

In [36]:
data=pd.read_csv('F:\\fertility data\\SUMBJ1807\\final.csv',sep=',',low_memory=False)

# 将各个性状分离

In [6]:
heifer.head()

,YMB,HYB,YMI,HYI,MF,ST,SC,IDLIST,AFS,AFC,IFL
0,199206.0,21992.0,199310.0,21993.0,2.0,NaN,2.0,71877.0,492.0,769.0,0.0
1,199208.0,21992.0,199504.0,21995.0,NaN,NaN,2.0,71880.0,NaN,NaN,0.0
2,199209.0,21992.0,199402.0,21994.0,3.0,NaN,2.0,71887.0,528.0,805.0,0.0
3,199211.0,21992.0,199401.0,21994.0,2.0,NaN,2.0,71895.0,440.0,717.0,0.0
4,199301.0,21993.0,199601.0,21996.0,NaN,NaN,2.0,71917.0,NaN,NaN,0.0

In [18]:
cow.rename(columns={'IDLIST':'CODE','胎次':'Parity'},inplace=True)
cowsb.rename(columns={'IDLIST':'CODE','胎次':'Parity','DAMCODE':'DAM','CALF':'calf'},inplace=True)
heifer.rename(columns={'IDLIST':'CODE'},inplace=True)
heifersb.rename(columns={'IDLIST':'CODE','DAMCODE':'DAM','CALF':'calf'},inplace=True)

In [19]:
cowsb.head()

   Parity       YMC      HYC   MF  calf     CODE  DAM   SB   CE
0       1  199407.0  21994.0  2.0   NaN  71877.0  0.0  1.0  1.0
1       1  199410.0  21994.0  2.0   NaN  71895.0  0.0  1.0  1.0
2       1  199411.0  21994.0  3.0   NaN  71887.0  0.0  1.0  1.0
3       2  199507.0  21995.0  2.0   NaN  71877.0  0.0  1.0  1.0
4       2  199510.0  21995.0  2.0   NaN  71895.0  0.0  1.0  1.0

In [20]:
afs=heifer[['HYB','YMB','ST','CODE','AFS']]
afc=heifer[['HYB','YMB','ST','SC','CODE','AFC']]
ifl_h=heifer[['HYI','YMI','ST','SC','MF','CODE','IFL']]
icf=cow[['HYC','YMC','ST','MF','Parity','CODE','ICF']]
ifl_c=cow[['HYI','YMI','ST','SC','MF','Parity','CODE','IFL']]
sbh=heifersb[['HYC','YMC','MF','calf','DAM','CODE','SB']]
ceh=heifersb[['HYC','YMC','MF','calf','DAM','CODE','CE']]
sbc=cowsb[['HYC','YMC','MF','calf','Parity','DAM','CODE','SB']]
cec=cowsb[['HYC','YMC','MF','calf','Parity','DAM','CODE','CE']]

In [37]:
data.head()

,FID,胎次,HERD,cowtai,YMB,HYB,YMC,HYC,YMI,HYI,ST,SC,CALF,AFS,AFC,IFL,CE,SB,ICF
0,F459001097033,--,1,F459001097033.--,199704.0,11997.0,NaN,NaN,200001.0,12000.0,NaN,2.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1,F459001097110,--,1,F459001097110.--,199711.0,11997.0,NaN,NaN,199905.0,11999.0,NaN,2.0,NaN,543.0,820.0,0.0,NaN,NaN,NaN
2,F459001D97138,--,1,F459001D97138.--,199712.0,11997.0,NaN,NaN,200003.0,12000.0,NaN,2.0,NaN,804.0,1081.0,0.0,NaN,NaN,NaN
3,F459001098011,--,1,F459001098011.--,199802.0,11998.0,NaN,NaN,200002.0,12000.0,NaN,2.0,NaN,733.0,1010.0,0.0,NaN,NaN,NaN
4,F459001098047,--,1,F459001098047.--,199806.0,11998.0,NaN,NaN,200001.0,12000.0,NaN,2.0,NaN,580.0,857.0,0.0,NaN,NaN,NaN

In [35]:
ped.head()

  DAM            ID SIRE  IDLIST  SIRECODE  DAMCODE     BIRTH SEX
0  F0   M0001HO0261   M0       1         0        0  1900/1/0   M
1  F0       M00-104   M0       2         0        0  1900/1/0   M
2  F0  M0011HO88013   M0       3         0        0  1900/1/0   M
3  F0   M001JE00672   M0       4         0        0  1900/1/0   M
4  F0  M0029HO02611   M0       5         0        0  1900/1/0   M

In [32]:
c_s=ped[['IDLIST','SIRE']]
c_s.columns=['CODE','SIRE']

In [38]:
c_f=ped[['IDLIST','ID','BIRTH']]
c_f.columns=['CODE','FID','BIRTH']

In [45]:
s_b_c=ped[['ID','BIRTH','IDLIST']]

In [33]:
c_s.head()

   CODE SIRE
0     1   M0
1     2   M0
2     3   M0
3     4   M0
4     5   M0

In [24]:
afs.to_csv(path+'traits\\'+'AFS.csv',index=False,header=True,encoding='utf_8_sig')
afc.to_csv(path+'traits\\'+'AFC.csv',index=False,header=True,encoding='utf_8_sig')
ifl_h.to_csv(path+'traits\\'+'IFL_H.csv',index=False,header=True,encoding='utf_8_sig')
icf.to_csv(path+'traits\\'+'ICF.csv',index=False,header=True,encoding='utf_8_sig')
ifl_c.to_csv(path+'traits\\'+'IFL_C.csv',index=False,header=True,encoding='utf_8_sig')
sbh.to_csv(path+'traits\\'+'SBH.csv',index=False,header=True,encoding='utf_8_sig')
ceh.to_csv(path+'traits\\'+'CEH.csv',index=False,header=True,encoding='utf_8_sig')
sbc.to_csv(path+'traits\\'+'SBC.csv',index=False,header=True,encoding='utf_8_sig')
cec.to_csv(path+'traits\\'+'CEC.csv',index=False,header=True,encoding='utf_8_sig')

In [39]:
#c_s.to_csv(path+'traits\\'+'code-sire.csv',index=False,header=True,encoding='utf_8_sig')
c_f.to_csv(path+'traits\\RESUALT\\'+'code-FID.csv',index=False,header=True,encoding='utf_8_sig')

In [46]:
s_b_c.to_csv(path+'traits\\RESUALT\\'+'sire-birth-code.csv',index=False,header=True,encoding='utf_8_sig')

# 处理估计结果

In [50]:
PATH='F:\\fertility data\\SUMBJ1807\\SOL\\'

In [49]:
files=os.listdir(PATH)

In [82]:
i=0
while i <= len(files)-1:
    data=pd.read_table(PATH+files[i],delim_whitespace=True,usecols=[0,4,7,8])
    data.columns=['effect','CODE','EBV','SE']
    data1=data[data['effect']==4]
    data2=data1[['CODE','EBV','SE']]
    data2.to_csv(PATH+files[i].split('.')[0]+'1.csv',index=False,header=True,encoding='utf_8_sig')
    i+=1

In [68]:
a=pd.read_table(PATH+files[0],delim_whitespace=True,usecols=[0,4,7,8])

In [70]:
a.columns=['effect','CODE','EBV','SE']

In [76]:
files[1].split('.')[0]

'AFS'

In [71]:
a.head()

   effect    CODE      EBV        SE
0       2  199112    0.000    0.0000
1       2  199201  991.344   69.8946
2       2  199205  812.334   69.6169
3       2  199206  697.449  120.4470
4       2  199207  952.779   69.6825

In [73]:
a1=a[a['effect']==4]

In [67]:
?pd.read_csv

# EBV和表型作图

In [2]:
Path='F:\\fertility data\\SUMBJ1807\\traits\\RESUALT\\final\\FINAL\\'

In [8]:
floders=['SIRE\\','FEMALE\\']
files1=os.listdir(Path+floders[0])
files2=os.listdir(Path+floders[1])

In [83]:
data=pd.read_csv(Path+floders[0]+files1[0],sep=',',encoding='gbk',low_memory=False)
data['Year']=data['BIR_date'].apply(lambda s:s.split('/')[0])
data['Year']=data['Year'].apply(lambda s:int(s))
data1=data[data['Year']>=1990]
plotdata=data1[['Year']].drop_duplicates(keep='first').sort_values(by='Year')
plotdataf=plotdata.copy

In [84]:
i=0
while i <= len(files1)-1:
    data=pd.read_csv(Path+floders[0]+files1[i],sep=',',encoding='gbk',low_memory=False)
    data['Year']=data['BIR_date'].apply(lambda s:s.split('/')[0])
    data['Year']=data['Year'].apply(lambda s:int(s))
    data1=data[data['Year']>=1990]
    data2=data1[['Year','EBV',files1[i].split('-')[0]+'m']]
    data3=data2.groupby([data2['Year']],as_index=False).mean()
    data3.rename(columns={'EBV':files1[i].split('-')[0]+'_EBV'},inplace=True)
    plotdata=pd.merge(plotdata,data3,on='Year',how='left')
    i+=1
plotdata.to_csv(Path+'PLOT\\'+'SIREPLOT.csv',index=False,header=True,encoding='utf_8_sig')

## EBV,表型作图

In [87]:
plotdata.head()

,Year,AFC_EBV,AFCm,AFS_EBV,AFSm,CEC_EBV,CECm,CEH_EBV,CEHm,ICF_EBV,ICFm,IFL_C_EBV,IFL_Cm,IFL_H_EBV,IFL_Hm,SBC_EBV,SBCm,SBH_EBV,SBHm
0,1990,-3.457090,873.777241,-5.695050,597.247796,-0.000419,1.077315,-0.005721,1.054145,-0.165321,76.029485,1.931671,53.459897,2.029912,16.699304,-0.001288,1.050047,0.005154,1.028693
1,1991,-4.130687,822.584114,-6.511888,580.922631,-0.000745,1.029828,-0.003597,1.004525,-0.004725,73.073173,1.308864,55.626536,2.618005,9.899298,-0.001169,1.112440,0.004765,1.115045
2,1992,-2.612025,909.045868,-3.381129,621.372520,-0.000051,1.051058,0.000348,1.000000,-0.024503,70.997773,2.078617,35.893780,1.148543,20.714286,0.000889,1.029738,0.006669,1.046296
3,1993,-2.725504,853.603952,-4.885973,574.644512,-0.000251,1.049493,0.001021,1.061588,-0.163808,80.920537,1.923713,58.337965,2.661288,14.979586,-0.001784,1.039925,0.003603,1.035749
4,1994,-4.038265,867.258598,-7.151319,583.596378,-0.000267,1.053137,-0.002003,1.036624,-0.049063,80.746106,2.332808,56.882795,2.953346,10.398167,-0.000927,1.078260,0.005556,1.067940

In [ ]:
plot1=['AFCm','AFSm','IFL_Hm','IFL_Cm','ICFm']

# EBV筛选排序

In [89]:
PAth='F:\\fertility data\\SUMBJ1807\\traits\\RESUALT\\final\\FINAL\\SIRE\\'

In [90]:
files=os.listdir(PAth)

In [104]:
i=0
while i<=len(files)-1:
    data=pd.read_csv(PAth+files[i],sep=',',encoding='gbk',low_memory=False)
    data['Year']=data['BIR_date'].apply(lambda s:s.split('/')[0])
    data['Year']=data['Year'].apply(lambda s:int(s))
    data1=data[(data['有表型的女儿数']>=5) | (data['Year']>=2010)]
    data2=data1[data1['REL']>data1['REL'].mean()].sort_values(by='EBV')
    data2.to_csv(PAth+files[i].split('-')[0]+'.csv',index=False,header=True,encoding='utf_8_sig')
    i+=1

In [103]:
files[0]

'AFC-SIRE.csv'