对一些使用过的python语法进行总结，温故而知新。

In [6]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 基本语法

## os 模块

In [9]:
# 获取目录下所有文件

path='F:\\Python\\'
files= os.listdir(path)

len(files)

21

# 第三方包

## pandas

### 文件数据的读取

In [5]:
##.csv格式

test=pd.read_csv('F:\\kaggle\\Titanic\\test.csv',sep=",",encoding='gbk',low_memory=False)

#encoding='gbk'是表示对含有中文的csv文件读入的设置，否则会出现乱码
#low_memory=False 表示读入的数据列里若有不同类型的数据时保存各自的格式，而不是进行统一转换

print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

In [15]:
##其他格式，如.txt格式

path = "F:\\weather\\data txt\\txt\\" #文件夹目录
files= os.listdir(path)

data_m=pd.read_table(path+files[0],delim_whitespace=True)
data_n=pd.read_table(path+files[0],sep=' ')
#path+files[0]刚好指代指定目录下的第一个文件
#delim_whitespace=True 表示第一行作为列名时，若列名之间有不等数量的空值，该指令可将这些空值仅作为一个空值进行分割

data_m.head(1)

,Station_Id_C,Year,Mon,Day,Hour,WIN_S_Max,RHU,WIN_D_S_Max,PRS_Min,TEM_Min,...,PRS_Sea,VAP,PRE_1h,WIN_S_Inst_Max,PRS,WIN_D_INST_Max,TEM_Max,WIN_D_Avg_10mi,TEM,WIN_S_Avg_10mi
0,53392,2016,1,4,0,3.9,77,276,860.6,-21.1,...,1039.8,0.9,0,5.0,861.0,285,-19.4,287,-21.1,2.4

In [16]:
data_n.head(1)
#可以看出下面的表格错了一列值，最后一列全都是缺失。

,Station_Id_C,Year,Mon,Day,Hour,WIN_S_Max,RHU,WIN_D_S_Max,PRS_Min,TEM_Min,...,PRS_Sea,VAP,PRE_1h,WIN_S_Inst_Max,PRS,WIN_D_INST_Max,TEM_Max,WIN_D_Avg_10mi,TEM,WIN_S_Avg_10mi
53392,2016,1,4,0,3.9,77,276,860.6,-21.1,861.1,...,0.9,0,5.0,861.0,285,-19.4,287,-21.1,2.4,NaN